*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

@media only screen and (max-width: 1024px) {
  html {
    font-size: 60%;
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }
}

body {
    font-weight: 300;
    line-height: 1.6;
    font-family: Helvetica, sans-serif;
}

.container {
  display: grid;
  grid-template-rows: repeat(9, min-content);
}

@media only screen and (max-width: 1024px) {
  .container {
    width: 100vw;
    font-weight: 300;
    line-height: 1.6;
    font-family: Helvetica, sans-serif;
  }
}

/* -------------------------NAVBAR--------------------- */

/* TESTING */

.navigation__checkbox {
  display: none;
}

.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  top: 6rem;
  right: 6rem;
  text-align: center;
  cursor: pointer; 
}

.navigation__button {
  background-color: #fff;
  height: 5rem;
  width: 5rem;
  position: fixed;
  top: 0.6rem;
  right: 2rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; 
}

@media only screen and (min-width: 768px) {
  .navigation__button {
    display: none;
    z-index: 100000;
  }
}

.navigation__background {
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
  position: fixed;
  top: 0.7rem;
  right: 2.1rem;
  background-image: radial-gradient(hsl(111, 55%, 64%), #28b485);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); 
}

@media only screen and (min-width: 768px) {
  .navigation__background  {
    display: none;
  }
}

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); 
}

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; 
  z-index: 1000000;
}

.navigation__item {
  margin: 1rem; 
  z-index: 1000000;

}

.navigation__link:link, 
.navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
}


.navigation__link:hover, 
.navigation__link:active {
  background-position: 100%;
  color: #55c57a;
  transform: translateX(1rem); 
}

.navigation__checkbox:checked ~ 
.navigation__background {
  transform: scale(80); 
}

.navigation__checkbox:checked ~ 
.navigation__nav {
  opacity: 1;
  width: 100%; 
}


.navigation__icon {
  position: relative;
  margin-top: 2.5rem;
}

@media only screen and (max-width: 768px) {
  .navigation__icon {
    display: none;
  }
}

.navigation__icon, 
.navigation__icon::before, 
.navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #333;
    display: inline-block;
    transition: all .2s;
    z-index: 10000000;
  }

.navigation__icon::before, 
.navigation__icon::after {
    content: "";
    position: absolute;
    left: 0; 
}
.navigation__icon::before {
  top: -.8rem; 
}
.navigation__icon::after {
  top: .8rem; 
}

.navigation__checkbox:checked + 
.navigation__button 
.navigation__icon {
  background-color: transparent; 
}

.navigation__checkbox:checked + 
.navigation__button 
.navigation__icon::before {
  top: 0;
  transform: rotate(135deg); 
}

.navigation__checkbox:checked + 
.navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); 
}


/*END OF TESTING */

.logo-small-container {
  display: none;
  grid-row: 2 / 3;
  width: 10rem;
  height: 8rem;
  top: 0;
  left: 0;
  position: absolute;
}

.tnw-img-small {
  width: 100%;
  height: 100%;
  position: sticky;
  z-index: 9999;
}

@media only screen and (max-width: 1024px) {
  .tnw-img-small {
    height: 75%;
  }
}

@media only screen and (max-width: 768px) {
  .logo-small-container {
    display: inline-block;
  }
}

.a-tags-navbar-top {
  text-decoration: none;
  color: slategrey;
}

.a-tags-navbar-top:hover {
  color: #fff;
}

.top-navbar {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

@media only screen and (max-width: 768px) {
  .top-navbar {
    display: none;
  }
}

.top-navbar-ul {
  display: flex;
  justify-content: space-between;
  height: 3rem;
  align-items: center;
  background-color: black;
  font-size: 1.3rem;
}

@media only screen and (max-width: 1024px) {
  .top-navbar-ul {
    padding-right: 2rem;
    padding-left: 10rem;
  }
}

.top-lef-items {
  display: flex;
}

.top-navbar-left-li {
  padding-left: 1.5rem;
  list-style: none;
}

.top-right-items {
  display: flex;
}

.top-navbar-right-li {
  padding-right: 1rem;
  list-style: none;
}

.a-tags-navbar-bottom {
  text-decoration: none;
  color: gray;
}

.a-tags-navbar-bottom:hover {
  color: black;
}

.logo-small-container-2 {
  height: 5rem;
  width: 10rem;
}

.bottom-navbar {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.6);
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 9999;
}

@media only screen and (max-width: 768px) {
  .bottom-navbar {
    height: 6rem;
  }
}

.bottom-navbar-ul {
  display: flex;
  justify-content: space-between;
  height: 5rem;
  align-items: center;
  font-size: 1.3rem;
  text-transform: uppercase;
}

@media only screen and (max-width: 1024px) {
  .bottom-navbar-ul {
    padding-right: 2rem;
    padding-left: 10rem;
  }
}

@media only screen and (max-width: 768px) {
  .bottom-navbar-ul {
    justify-content: space-between;
  }
}

.bottom-lef-items {
  display: flex;
}

@media only screen and (max-width: 768px) {
  .bottom-lef-items  {
    display: none;
  }
}

.bottom-navbar-left-li {
  padding-left: 2rem;
  list-style: none;
  color: gray;
}

.bottom-right-items {
  border-left: 1.5px solid #ddd;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 1rem;
}

@media only screen and (max-width: 768px) {
  .bottom-right-items  {
    height: 140%;
    padding: 2rem;
    border-right: 1.5px solid #ddd;
    margin-right: 7rem;
  }
}

.magnifiying-glass {
  width: 2.2rem;
  height: 2.2rem;
  transform: rotateY(180deg);
  fill: #ddd;
}

@media only screen and (max-width: 768px) {
  .magnifiying-glass  {
    transform: translateY(0.6rem) rotateY(180deg);
  }
}

/* -----------------------------HEADER----------------------*/

.header {
    display: grid;
    grid-row: 3 / 4;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1rem;
    width: 100%;
    padding: 1rem 1rem 0 1rem;
    height: 76vh;
}

@media only screen and (max-width: 1024px) {
  .header {
    height: 50vh;
  }
}

.a-tags-header-img {
  text-decoration: none;
}

.main-box {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  background-image: linear-gradient(160deg,  rgba(255, 32, 32, 0.603), rgba(0, 0, 0, 1)), url(img/main-img.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100%;
  transition: all 0.8s ease-out;
}

@media only screen and (max-width: 1024px) {
  .main-box {
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.2)), url(img/main-img.png);
  }
}

.main-box:hover {
  background-image: linear-gradient(160deg,  rgba(255, 32, 32, 0.5), rgba(0, 0, 0, 1)), url(img/main-img.png);
}

.main-box-img {
  width: 100%;
  height: 100%;
}

.main-box-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  color: #fff;
}

.main-box-text-top {
  display: flex;
  justify-content: space-between;
}

.tnw-log {
  width: 56%;
  padding: 3%;
}

@media only screen and (max-width: 1024px) {
  .tnw-log  {
    display: none;
  }
}

.main-box-date {
  font-size: 1.5rem;
  padding: 2.5%;
  font-weight: 100;
}

@media only screen and (max-width: 1024px) {
  .main-box-date {
    font-size: 1.2rem;
  }
}

.main-box-text-bottom {
  padding: 2%;
}

.main-box-h2 {
  font-size: 5rem;
  line-height: 5rem;
  font-weight: bold;
  padding: 2%;
}

@media only screen and (max-width: 1024px) {
  .main-box-h2 {
    font-size: 4rem;
    line-height: 4rem;
  }
}

.main-box-author {
  font-size: 100%;
  padding-left: 2%;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 1024px) {
  .main-box-author {
    font-size: 1.5rem;
  }
}

.clock-icon {
  width: 2vw;
  height: 2vh;
  fill: #fff;
}

.share-icon {
  width: 2vw;
  height: 2vh;
  fill: #fff;
}

.second-box {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 1)), url(img/second-img.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  transition: all 0.8s ease;
}

@media only screen and (max-width: 1024px) {
  .second-box {
    height: 23vh;
  }
  .second-box-author {
    padding-bottom: 5rem;
  }
}

.second-box:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 1)), url(img/second-img.png);
}

.second-box-img {
  width: 100%;
  height: 100%;
}

.second-box-h2 {
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 900;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 1024px) {
  .second-box-h2 {
    font-size: 1.4rem;
    line-height: 2rem;
  }
  .second-box-h2-mq {
    padding-top: 6rem;
  }
}

.third-box {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 1)), url(img/third-img.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  transition: all 0.8s ease;
}

.third-box:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 1)), url(img/third-img.png);
}

.third-box-img {
  width: 100%;
  height: 100%;
}

.latest-news-section {
  grid-row: 4 / 5;
}

/* -----------------LATEST NEWS----------------------- */

.latest-news-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10rem;
  grid-row: 4 / 5;
}

@media only screen and (max-width: 1024px) {
  .latest-news-section {
    padding: 10rem 3rem;
  }
}

.titles {
  margin-bottom: 2rem;
  font-size: 2vw;
  color: orangered;
}

@media only screen and (max-width: 1024px) {
  .titles {
    font-size: 3vw;
  }
}

.titles-decoration {
  text-decoration: none;
}

.latest-news-container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2vw;
}

@media only screen and (max-width: 1024px) {
  .latest-news-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

.a-tags-latest-news {
  text-decoration: none;
  color: black;
}

.latest-news-img {
  width: 100%;
}

.underline:hover {
  text-decoration: underline;
  text-decoration-color: rgba(255, 68, 0, 0.384);
}

.change-color-red:hover {
  color: red;
}

.change-color-black:hover {
  color: black;
}

.latest-box-text {
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 2rem;
}

.latest-news-author {
  font-size: 1.3rem;
  color: gray;
}

.latest-news-time {
  font-size: 1.2rem;
  color: gray;
}

/* -----------------------------LATEST FUNDING------------------------------- */

.latest-funding {
  width: 100%;
  padding: 0 10rem 10rem 10rem;
  grid-row: 5 / 6;
}

@media only screen and (max-width: 1024px) {
  .latest-funding {
    padding: 0;
  }

  .latest-funding-4 {
    width: 0;
    height: 0;
    visibility: hidden;
  }
}

.latest-funding-title-box {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 1024px) {
  .latest-funding-title-box {
    flex-direction: column;
  }
}

.latest-funding-box-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}

.a-tags-latest-funding-title {
  text-decoration: none;
}

.latest-funding-li {
  display: flex;
  align-items: center;
}

.latest-funding-item {
  list-style: none;
  font-size: 1.6rem;
  margin-right: 1vw;
  color: orangered;
}

.latest-funding-box {
  display: flex;
  flex-direction: column;
}

.latest-funding-title {
  background: linear-gradient(to top, #ffebe7 60%, orangered 40%);
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 7vw;
}

.latest-funding-img {
  display: inline;
  height: 10vh;
  margin-top: -1rem;
  margin-left: 1rem;
}

.latest-funding-text-box {
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 80%;
  width: 60%;
  margin-left: 1.5rem;
}

.stock {
  word-break: break-all;
  font-size: 1.8rem;
  font-weight: 900;
  color: #fff;
}

.latest-funding-amount {
  padding-top: 0.5rem;
  font-weight: 600;
  font-size: 1.5rem;
  color: #000;
}

.latest-funding-round {
  font-size: 1rem;
  line-height: 0.5rem;
  color: gray;
  text-transform: uppercase;
}

.latest-funding-bottom-a {
  text-decoration: none;
  color: #000;
}

.latest-funding-middle {
  font-size: 1.3rem;
  padding: 2rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgba(255, 68, 0, 0.185);
  background-color: #fffaf8;
}

.latest-funding-bottom {
  font-size: 1.2rem;
  padding: 2rem;
  padding-top: 1rem;
  background-color: #fffaf8;
}

.change-color-gray {
  color: gray;
}


@media only screen and (max-width: 1024px) {

  .latest-funding {
    padding: 2rem;
  }

  .latest-funding-box-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
  }

  .latest-funding-img {
    display: inline;
    height: 10vh;
    margin-top: rem;
    border: 1px solid black;
    margin-left: 1rem;
  }  

  .latest-funding-title-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .latest-funding-li {
    display: flex;
    align-items: center;
    margin-top: -1rem;
    margin-bottom: 2rem;
  }
}

/* ------------------NEWS--------------------------- */

.news-section {
  padding: 0 10rem 10rem 10rem;
  grid-row: 6 / 7;
}

@media only screen and (max-width: 1024px) {

  .news-section {
    padding: 0 2rem 10rem 2rem;
    grid-row: 6 / 7;
  }
}

.news-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 2rem;
}

@media only screen and (max-width: 1024px) {
  .news-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
}

.news-a {
  text-decoration: none;
  color: #fff;
}

.news-img {
  background-size: 100%;
  width: 100%;
  background-repeat: no-repeat;
  height: 25rem;
}

.news-img-hard-fork {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1)), url(img/hard-fork.jpg);
}

.news-img-apps {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1)), url(img/apps.jpg); 
}

.news-img-gear {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1)), url(img/gear.png);
}

.news-img-tech {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1)), url(img/tech.jpg);
}

.news-img-creative {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1)), url(img/creative.jpg);
}

.news-img-podium {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1)), url(img/podium.jpg);
}

.news-img-insights {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1)), url(img/hard-fork.jpg);
}

.news-img-launch {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1)), url(img/launch.png);
}

.news-img-distract {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1)), url(img/distract.png);
}

.text-container {
  display: flex;
  height: 25rem;
  flex-direction: column;
  justify-content: end;
  padding: 0 1rem;
  border: 1px solid black;
  padding-top: 14rem;
}

@media only screen and (max-width: 1024px) {
  .text-container {
    padding-top: 13rem;
  }
}

.title-most-popular {
  font-size: 1.2rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 200;
}

.subject {
  font-size: 2rem;
  font-weight: 900;
  color: #fff;
  line-height: 2.5rem;
}

.latest {
  display: flex;
  align-items: flex-start;
  background-color: #fff4f2;
}

.latest-title {
  color: orangered;
  padding: 0.8rem;
}

.latest-news-title {
  font-size: 1.3rem;
  text-transform: uppercase;
}

.latest-text {
  font-size: 1.3rem;
  font-weight: 900;
  line-height: 1.8rem;
}

.latest-a {
  text-decoration: none;
  color: orangered;
}

.latest-img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
}

.some-latest-ul {
  color: slategray;
  font-size: 1.3rem;
  padding: 1rem;
  line-height: 1.5rem;
  list-style: none;
}

.some-latest-li {
  border-bottom: 1px solid #ddd;
  padding: 1rem 0;
}

.latest-news-li-a {
  text-decoration: none;
  color: slategrey;
}

.some-latest-li::before {
  content: "\2022";
  color: orangered;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em; 
}

/*----------------LATEST DEALS-------------------*/

.latest-deals-section {
  padding: 0 10rem 10rem 10rem;
  grid-row: 7 / 8;
}

@media only screen and (max-width: 1024px) {
  .latest-deals-section {
    padding: 0 2rem 10rem 2rem;
  }
}

.latest-deals-container {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
}

@media only screen and (max-width: 1024px) {
  .latest-deals-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

.latest-deal-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.latest-deal-img {
  width: 100%;
  height: 15rem;
}

.bg-1 {
  background: url(img/latest-deal-1.jpg.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.bg-2 {
  background: url(img/latest-deal-2.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.bg-3 {
  background: url(img/latest-deal-3.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.bg-4 {
  background: url(img/latest-deal-7.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.bg-5 {
  background: url(img/latest-deal-5.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.bg-6 {
  background: url(img/latest-deal-6.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.bg-7 {
  background: url(img/latest-deal-7.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.bg-8 {
  background: url(img/latest-deal-8.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.latest-deal-title {
  text-transform: capitalize;
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 2rem;
}

.latest-deal-price-scrape {
  font-size: 1.3rem;
  text-decoration: line-through;
  color: #aaa;
  font-weight: 600;
  display: inline;
}

.latest-deal-price {
  font-size: 1.6rem;
  font-weight: 900;
  display: inline;
  padding-left: 0.5rem;
}

/*--------------------FOOTER------------------*/

.footer {
  grid-row: 8 / 9;
  background-color: gray;
  display: grid;
}

.top-footer {
  background-color: #131313;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.bottom-footer {
  background-color: cadetblue;
}

.footer-ul-top {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 4rem;
  list-style: none;
}

.footer-li-top {
  width: 4rem;
  height: 4rem;
  margin: auto 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #555;
  border-radius: 50%;
}

.footer-li-top:hover {
  border: 2px solid #555;
  background-color: #131313;
}

.svg-footer {
  width: 2rem;
  height: 2rem;
  fill: #fff;
}

.footer-ul-bottom {
  display: flex;
  list-style: none;
  justify-content: center;
  width: 100%;
  margin-bottom: 2rem;
}

.footer-li-bottom {
  font-size: 1.2rem;
  margin: auto 1rem;
  text-transform: uppercase;
  font-weight: 400;
  color: #999;
  text-decoration: none;
}

.footer-li-bottom:hover {
  color: #eee;
}

.bottom-footer {
  display: flex;
  justify-content: center;
  height: 9rem;
  align-items: center;
  background-color: #000;
  color: #fff;
  font-size: 1.2rem;
}

.tnw-footer-img {
  height: 1rem;
}